html {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

} 

.label {
  font-size: 8px;
}

canvas {
  flex-grow: 1;
}